/*SCSS FONTS*/

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.woff2') format('woff2'),
        url('../fonts/Quicksand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.woff2') format('woff2'),
        url('../fonts/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Light.woff2') format('woff2'),
        url('../fonts/Quicksand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Medium.woff2') format('woff2'),
        url('../fonts/Quicksand-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo';
    src: url('../fonts/BalooThambi-Regular.woff2') format('woff2'),
        url('../fonts/BalooThambi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// h1 {
//   font-family: 'Quicksand', 'Helvetica', 'Arial', sans-serif;
//   font-size: 25px;
//   font-weight: 500;
// }
// h2 {
//   font-family: 'Baloo', 'Helvetica', 'Arial', sans-serif;
//   color: orange;
//   font-size: 45px;
//   padding: 20px;
//   text-align: center;
// }
//
// h4{
//   font-family: 'Quicksand', 'Helvetica', 'Arial', sans-serif;
//   color: grey;
// }
// h5, li {
//   font-family: 'Quicksand', 'Helvetica', 'Arial', sans-serif;
//   color: black;
// }
// p {
//   font-family: 'Quicksand', 'Helvetica', 'Arial', sans-serif;
//   color:grey;
// }
