$fontText: 'Quicksand', Helvetica, Arial, sans-serif;
$fontTitle: 'Baloo', Times, Georgia, serif;
$colorText: #383838;
$colorTitle: #454545;
$colorHomeFooter: #005a58;
$colorLifeButtons: #008300;
$colorLifeFooter: #013a03;
$colorEducationButtons: #e2b301;
$colorEducationFooter: #af7d00;
$colorWorkButtons: #ffffff;
$colorWorkFooter: #004265;
$colorEconomicsButtons: #ffffff;
$colorEconomicsFooter: #7c0000;
$colorSocialButtons: #6e4881;
$colorSocialFooter: #382440;
