/*SCSS document*/

@import "reset";
@import "fonts";
@import "globals";
@import "mixins";

.hidden {
  display: none;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
  background-color: #ffffff;
  font-family: $fontText;
  font-weight: normal;
  font-size: 1rem;
  color: $colorText;
}

.title {
  font-family: $fontTitle;
  color: $colorTitle;
  text-transform: uppercase;
  line-height: normal;
}

.text {
  font-size: 0.85rem;
  line-height: 1.3rem;
}

#container {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

#main-banner {
  position: relative;
  width: 100%;

  img {
    width: 100%;
  }

  header {
    width: 100%;
    height: 4.625rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    transition: height 0.3s 0.5s ease-in-out;
    z-index: 100;

    div {
      width: 100%;
      position: relative;

      #main-logo {
        float: left;
        width: 3.75rem;
        // max-width: 3.75rem;
        margin: 0.4rem 0.5rem;
      }

      #logo-text {
        position: absolute;
        top: 0;
        left: 50%;
        @include translate(-50%, 0);
        width: 11rem;
        margin-top: 1.6rem;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }


      #hamburger-menu {
        float: right;
        font-size: 2.8rem;
        margin-top: 0.8rem;
        margin-right: 0.8rem;
        cursor: pointer;
      }
    }

    #main-nav {
      position: relative;
      left: -1024px;
      width: 100%;
      margin-bottom: 0.5rem;
      transition: left 0.5s ease-in-out;
      ul {
        line-height: 40px;
        text-align: center;
        li {
          margin: 0 1.56vw;
          a {
            color: #000000;
            font-size: 1rem;
            font-weight: bolder;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
    }
  }
  header.openmenu {
    height: 20rem;
    max-height: auto;
    transition: height 0.3s ease-in-out;
    div {
      #logo-text {
        opacity: 1;
        transition: opacity 0.5s 0.5s ease-in-out;
      }
    }
    #main-nav {
      left: 0;
      transition: left 0.5s 0.3s ease-in-out;
    }
  }
}

#container.home #hamburger-menu {
  color: $colorHomeFooter;
}

#container.life #hamburger-menu {
  color: $colorLifeFooter;
}

#container.education #hamburger-menu {
  color: $colorEducationFooter;
}

#container.work #hamburger-menu {
  color: $colorWorkFooter;
}

#container.economics #hamburger-menu {
  color: $colorEconomicsFooter;
}

#container.social #hamburger-menu {
  color: $colorSocialFooter;
}

main {
  clear: both;
  text-align: center;
}

footer {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  color: #ffffff;
  padding: 1rem 0;
  margin-top: 3rem;

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0;
  }

  #social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    li {
      background-color: #ffffff;
      border-radius: 50%;
      width: 1.5rem;
      padding: 0.4rem 0.3rem 0.2rem 0.3rem;
      margin: 0 0.8rem;
    }
  }
  #footer-nav {
    display: none;
    margin-top: 2rem;
    ul {
      display: flex;
      margin-bottom: 1rem;
      margin-left: 3rem;
      li {
        margin-right: 1rem;
        a {
          font-size: 0.9rem;
          font-weight: bold;
          color: #ffffff;
          text-transform: uppercase;
          text-decoration: none;
        }
        &:after {
          content: " ";
          border-left: 2px solid #ffffff;
          margin-left: 1rem;
        }
        &:last-of-type:after {
          border: none;
        }
      }

    }
  }

  #footer-logo {
    // display: inline-block;
    width: 60%;
    max-width: 250px;
    margin: 0 auto;
  }

  #copyright {
    // display: table;
    margin: 1rem auto 0.5rem auto;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: right;
  }
}

#container.home footer{
  background-color: $colorHomeFooter;

  #social {
    li {
      a {
        svg {
          fill: $colorHomeFooter;
        }
      }
    }
  }
}

#container.life footer{
  background-color: $colorLifeFooter;

  #social {
    li {
      a {
        svg {
          fill: $colorLifeFooter;
        }
      }
    }
  }
}

#container.education footer{
  background-color: $colorEducationFooter;

  #social {
    li {
      a {
        svg {
          fill: $colorEducationFooter;
        }
      }
    }
  }
}

#container.work footer{
  background-color: $colorWorkFooter;

  #social {
    li {
      a {
        svg {
          fill: $colorWorkFooter;
        }
      }
    }
  }
}

#container.economics footer{
  background-color: $colorEconomicsFooter;

  #social {
    li {
      a {
        svg {
          fill: $colorEconomicsFooter;
        }
      }
    }
  }
}

#container.social footer{
  background-color: $colorSocialFooter;

  #social {
    li {
      a {
        svg {
          fill: $colorSocialFooter;
        }
      }
    }
  }
}

.section-header {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;

  .section-icon {
    width: 3.5rem;
  }

  .section-title {
    @extend .title;
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}

.section-info {
  margin: 1.2rem;

  .section-desc {
    font-size: 1.1rem;
    // text-align: center;
    line-height: 1.7rem;
  }
}

#category-wrapper {
  position: relative;
}

.open-category-btn {
  display: block;
  width: 90%;
  clear: both;
  color: #ffffff;
  font-family: $fontText;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 1rem 0;
  margin: 2rem auto;
  cursor: pointer;
}

.open-category-btn.selected {
  border-width: 3px;
  border-style: solid;
}

#container.life .open-category-btn {
  background-color: $colorLifeButtons;
}

#container.education .open-category-btn {
  background-color: $colorEducationButtons;
}

#container.work .open-category-btn {
  background-color: $colorWorkButtons;
}

#container.economics .open-category-btn {
  background-color: $colorEconomicsButtons;
}

#container.social .open-category-btn {
  background-color: $colorSocialButtons;
}

#container.life .open-category-btn.selected {
  background-color: #ffffff;
  color: $colorLifeButtons;
  border-color: $colorLifeButtons;
}

#container.education .open-category-btn.selected {
  background-color: #ffffff;
  color: $colorEducationButtons;
  border-color: $colorEducationButtons;
}

#container.work .open-category-btn.selected {
  background-color: #ffffff;
  color: $colorWorkButtons;
  border-color: $colorWorkButtons;
}

#container.economics .open-category-btn.selected {
  background-color: #ffffff;
  color: $colorEconomicsButtons;
  border-color: $colorEconomicsButtons;
}

#container.social .open-category-btn.selected {
  background-color: #ffffff;
  color: $colorSocialButtons;
  border-color: $colorSocialButtons;
}

.category-header {
  width: 100%;
  margin-top: 2rem;
  line-height: 0;

  .photo-wrapper {
    background-color: #ffffff;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 0 65%, 50% 90%, 100% 65%, 100% 0);
    clip-path: polygon(0 0, 0 65%, 50% 90%, 100% 65%, 100% 0);
    // -webkit-clip-path: polygon(100% 65%, 50% 90%, 0 65%, 0 0, 100% 0);
    // clip-path: polygon(100% 65%, 50% 90%, 0 65%, 0 0, 100% 0);
    img {
      width: 100%;
      -webkit-clip-path: polygon(0 0, 0 50%, 50% 75%, 100% 50%, 100% 0);
      clip-path: polygon(0 0, 0 50%, 50% 75%, 100% 50%, 100% 0);
      // -webkit-clip-path: polygon(100% 50%, 50% 75%, 0 50%, 0 0, 100% 0);
      // clip-path: polygon(100% 50%, 50% 75%, 0 50%, 0 0, 100% 0);
    }
  }

  .category-info {
    width: 100%;
    margin-top: 1rem;
    .category-title {
      @extend .title;
      font-size: 2.6rem;
      color: #ffffff;
      line-height: 2.9rem;
    }

    .category-short {
      font-size: 1.25rem;
      font-weight: 500;
      color: #ffffff;
      padding: 1.5rem 0;
      margin: 0 1.5rem;
      line-height: 1.8rem;
    }
  }
}

#container.life .category-header {
  background-color: $colorLifeButtons;
}

#container.education .category-header {
  background-color: $colorEducationButtons;
}

#container.work .category-header {
  background-color: $colorWorkButtons;
}

#container.economics .category-header {
  background-color: $colorEconomicsButtons;
}

#container.social .category-header {
  background-color: $colorSocialButtons;
}

.category-desc {
  @extend .text;
  margin: 2rem;
}

.item {
  .item-title {
    @extend .title;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .item-photo {
    width: 90%;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    box-shadow: 0 1rem 1rem -1rem #000000;
    margin: 1.5rem 0;
  }

  .item-desc {
    @extend .text;
    margin: 0 2rem;
    margin-bottom: 0.5rem;
  }

  address {
    .item-address,
    .item-phone,
    .item-hours {
      @extend .text;
      font-size: 0.8rem;
      font-weight: bold;
      margin: 0 1rem 0.5rem 1rem;
    }

    .item-website {
      @extend .title;
      display: block;
      font-size: 1.2rem;
      text-decoration: underline;
      margin-top: 0.5rem;
      // padding-bottom: 1px;
      // border-bottom-width: 1px;
      // border-bottom-style: solid;
    }
  }

  .faded-line {
    display: block;
    margin: 2rem auto;
    border: none;
    width: 60%;
    height: 1px;
  }
}

.item:last-of-type {
  .faded-line {
    display: none;
  }
}

#container.life .item {
  .item-photo {
    border-color: $colorLifeButtons;
  }
  address {
    .item-website {
      color: $colorLifeButtons;
      // border-bottom-color: $colorLifeButtons;
    }
  }
  .faded-line {
    background: $colorLifeButtons;
    background: linear-gradient(to right, #ffffff, $colorLifeButtons, #ffffff);
  }
}

#container.education .item {
  .item-photo {
    border-color: $colorEducationButtons;
  }
  address {
    .item-website {
      color: $colorEducationButtons;
      // border-bottom-color: $colorEducationButtons;
    }
  }
  .faded-line {
    background: $colorEducationButtons;
    background: linear-gradient(to right, #ffffff, $colorEducationButtons, #ffffff);
  }
}

#container.work .item {
  .item-photo {
    border-color: $colorWorkButtons;
  }
  address {
    .item-website {
      color: $colorWorkButtons;
      // border-bottom-color: $colorWorkButtons;
    }
  }
  .faded-line {
    background: $colorWorkButtons;
    background: linear-gradient(to right, #ffffff, $colorWorkButtons, #ffffff);
  }
}

#container.economics .item {
  .item-photo {
    border-color: $colorEconomicsButtons;
  }
  address {
    .item-website {
      color: $colorEconomicsButtons;
      // border-bottom-color: $colorEconomicsButtons;
    }
  }
  .faded-line {
    background: $colorEconomicsButtons;
    background: linear-gradient(to right, #ffffff, $colorEconomicsButtons, #ffffff);
  }
}

#container.social .item {
  .item-photo {
    border-color: $colorSocialButtons;
  }
  address {
    .item-website {
      color: $colorSocialButtons;
      // border-bottom-color: $colorSocialButtons;
    }
  }
  .faded-line {
    background: $colorSocialButtons;
    background: linear-gradient(to right, #ffffff, $colorSocialButtons, #ffffff);
  }
}

.item.nocontent {
  display: block;
  &:before {
    content: "Other Parks in London";
    @extend .title;
    font-size: 1.3rem;
  }
  .item-photo {
    width: 60%;
  }
  .item-title {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
}

// hide all .item.nocontent elements except the first one
.item.nocontent ~ .item.nocontent {
  display: none;
  &:before {
    content: "";
  }
}

.close-category-btn {
  clear: both;
  background-color: #ffffff;
  color: #737373;
  font-family: $fontText;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #737373;
  border-radius: 4px;
  padding: 5px 6px;
  margin: 1rem 0;
  cursor: pointer;
  i {
    font-size: 0.9rem;
    border: 1px solid #737373;
    border-radius: 50%;
    padding: 0 4px;
    margin-right: 0.25rem;
  }
}

.story {
  clear: both;
  margin: 1rem auto 0 auto;
  width: 90%;
  // background-color: orange;
  display: block;
  padding: 0.2rem;
  border-radius: 15px;
  // transform: skew(-5deg, -0.5deg);

  .story-wrapper {
    // width: 90%;
    // height: 90%;
    // margin: 2rem;
    height: 4rem;
    display: grid;
    grid-template-columns: 25% 75%;
    border: 1px dashed #ffffff;
    border-radius: 15px;
    // transform: skew(-3deg, 0.2deg);
    padding: 0.5rem;
    overflow: hidden;
    transition: height 0.5s ease-in-out;

    .story-photo {
      img {
        width: 100%;
        max-width: 4rem;
        margin-top: -0.2rem;
        border: 3px solid #ffffff;
        border-radius: 100%;
        // transform: skew(8deg, 0.3deg);
      }
    }

    .story-text {
      color: #ffffff;
      display: flex;
      flex-direction: column;

      .story-check {
        margin-top: 0.5rem;
        transition: margin-top 0.5s ease-in-out;
        p {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 0.9rem;
          transition: opacity 0.5s ease-in-out;
        }
        i {
          font-size: 2rem;
        }
      }

      .story-testimony {
        opacity: 0;
        transition: opacity 0.8s ease-in-out;
        .story-desc {
          font-size: 1rem;
          margin-bottom: 0.5rem;
          &:before,
          &:after {
            content: " \" ";
            font-family: $fontTitle;
            font-size: 1.5rem;
          }
        }
        .story-name {
          font-family: $fontTitle;
          font-size: 1.2rem;
          text-transform: uppercase;
          text-align: right;
        }
      }
    }
  }
}

#container.life .story {
  background-color: $colorLifeStory;
}

#container.education .story {
  background-color: $colorEducationStory;
}

#container.work .story {
  background-color: $colorWorkStory;
}

#container.economics .story {
  background-color: $colorEconomicsStory;
}

#container.social .story {
  background-color: $colorSocialStory;
}

.story.open {
  .story-wrapper {
    height: 13rem;
    // height: auto;
    // transition: height 0.5s ease-in-out;
    .story-text {

      .story-check {
        margin-top: -2rem;
        p {
          opacity: 0;
        }
        i {
          font-size: 2rem;
        }
      }

      .story-testimony {
        opacity: 1;
      }
    }
  }
}

// 640px
@media screen and (min-width: 40rem) {
  #main-banner {
    header {
      position: absolute;
      height: 90px;
      div {

        #main-logo {
          width: 18rem;
          max-width: 18rem;
          margin: 0.4rem 0.7rem;
        }

        #logo-text {
          display: none;
        }

        #hamburger-menu {
          font-size: 2.8rem;
          margin-top: 1.6rem;
          margin-right: 1rem;
        }
      }
      #main-nav {
        ul{
          line-height: 46px;
          li {
            a {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
    header.openmenu {
      height: 380px;
    }
  }

  footer {
    clear: both;
    padding: 1.5rem 0;
    .footer-wrapper {
      padding: 0.8rem 0;
    }
    #social {
      li {
        width: 2rem;
        padding: 0.5rem;
        margin: 0 1.5rem;
      }
    }
    #footer-logo {
      width: 60%;
      max-width: 320px;
    }

    #copyright {
      margin: 1.5rem auto 0.5rem auto;
      font-size: 0.9rem;
    }
  }

  .section-header {
    // background-color: #f3f3f3;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    padding: 1rem 1.5rem;

    .section-icon {
      width: 5.5rem;
    }

    .section-title {
      // @extend .title;
      font-size: 2.2rem;
      margin-left: 1.5rem;
    }
  }

  #category-wrapper {
    padding-top: 8rem;
  }

  .open-category-btn {
    display: block;
    position: absolute;
    top: 0;
  }


  @for $i from 1 through 3 {
    .open-category-btn:nth-of-type(#{$i}) {
      width: 25%;
      font-size: 1rem;
      // top: -100px;
      margin-left: ($i * 33.3%) - 29%;
    }
  }
  @for $i from 1 through 4 {
    #container.social .open-category-btn:nth-of-type(#{$i}) {
      width: 22%;
      font-size: 0.8rem;
      position: absolute;
      // top: -100px;
      margin-left: ($i * 25%) - 23.5%;
    }
  }

  .category-header {
    // width: 100%;
    // margin-top: 2rem;
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;

    .photo-wrapper {
      // background-color: #ffffff;
      // width: 100%;
      -webkit-clip-path: polygon(0 -1%, 0 101%, 75% 101%, 100% 50%, 75% -1%);
      clip-path: polygon(0 -1%, 0 101%, 75% 101%, 100% 50%, 75% -1%);
      img {
        // width: 100%;
        -webkit-clip-path: polygon(0 0, 0 100%, 65% 100%, 100% 50%, 65% 0);
        clip-path: polygon(0 0, 0 100%, 65% 100%, 90% 50%, 65% 0);
      }
    }

    .category-info {
      // width: 100%;
      // margin-top: 0;
      .category-title {
        // @extend .title;
        // font-size: 2.6rem;
        // color: #ffffff;

      }

      .category-short {
        // font-size: 1.25rem;
        // font-weight: 500;
        // color: #ffffff;
        padding: 2rem 0;
        // margin: 0 1.5rem;
        // line-height: 1.8rem;
      }
    }
  }

  .category-desc {
    margin: 2rem 3.5rem;
  }

  .item {
    // clear: both;
    .item-title {
      // @extend .title;
      width: 45%;
      float: right;
      font-size: 1.3rem;
      margin: 0 2rem 1rem 0;
      // margin-bottom: 1rem;
    }

    .item-photo {
      // clear: right;
      width: 40%;
      float: left;
      // border-style: solid;
      // border-width: 2px;
      // border-radius: 4px;
      // box-shadow: 0 1rem 1rem -1rem #000000;
      margin: -1rem 0 2rem 2rem;
    }

    .item-desc {
      clear: both;
      width: 45%;
      float: right;
      text-align: left;
      margin: 0 2rem 0 0;
    }

    address {
      width: 45%;
      float: right;
      position: relative;
      text-align: left;
      margin: 0.5rem 2rem 2rem 0;
      .item-address,
      .item-phone,
      .item-hours {
        // @extend .text;
        margin: 0 0 0.2rem 0;
      }

      // .item-hours {
      //   width: 60%;
      // }

      .item-website {
        // @extend .title;
        // position: absolute;
        // bottom: 0;
        // right: 0;
        text-align: right;

        // display: inline-block;
        font-size: 0.9rem;
        // text-decoration: none;
        margin-bottom: 0.2rem;
        // padding-bottom: 1px;
        // border-bottom-width: 1px;
        // border-bottom-style: solid;
      }
    }

    .faded-line {
      clear: both;
      // display: block;
      // margin: 3rem auto 2rem auto;
      // border: none;
      width: 100%;
      // padding-top: 2rem;
      // height: 1px;
    }
  }

  .item:nth-child(even) {
    .item-title {
      float: left;
      // font-size: 1.3rem;
      margin: 0 0 1rem 2rem;
    }
    .item-photo {
      float: right;
      margin: -1rem 2rem 2rem 0;
    }
    .item-desc {
      float: left;
      margin: 0 0 0 2rem;
    }
    address {
      float: left;
      margin: 0.5rem 0 2rem 2rem;
    }
  }

  .item.nocontent,
  .item.nocontent ~ .item.nocontent,
  .item:nth-child(even).nocontent,
  .item.nocontent ~ .item:nth-child(even).nocontent {
    float: none;
    width: 30%;
    display: inline-block;
    margin: 0;
    text-align: center;
    &:before {
      position: absolute;
      top: auto;
      left: 50%;
      @include translate(-50%, 0);
      // padding-bottom: 2rem;
    }
    .item-photo {
      float: none;
      // text-align: center;
      width: 70%;
      margin: 3rem auto 0 auto;
    }
    .item-title {
      display: inline-block;
      width: 100%;
      float: none;
      margin: 1rem 0 0 0;
      font-size: 1.1rem;
    }
  }

  // .item.nocontent,
  // .item.nocontent ~ .item.nocontent {
  // }

  .close-category-btn {
    // display: block;
    // margin: 2rem auto 0 auto;
    display: none;
  }

  .story {
    padding: 0.8rem;
    transform: skew(-5deg, -0.5deg);

    .story-wrapper {
      height: auto;
      grid-template-columns: 15% 85%;
      transform: skew(-3deg, 0.2deg);
      align-items: center;
      justify-items: center;

      .story-photo {
        img {
          width: 80%;
          max-width: 7rem;
          margin-top: 0;
          transform: skew(8deg, 0.3deg);
        }
      }

      .story-text {
        text-align: center;
        width: 95%;
        .story-check {
          display: none;
        }

        .story-testimony {
          opacity: 1;
          // transition: opacity 0.8s ease-in-out;
          // .story-desc {
          //   font-size: 1rem;
          //   margin-bottom: 0.5rem;
          //   &:before,
          //   &:after {
          //     content: " \" ";
          //     font-family: $fontTitle;
          //     font-size: 1.3rem;
          //   }
          // }
          // .story-name {
          //   font-family: $fontTitle;
          //   font-size: 1.2rem;
          //   text-transform: uppercase;
          //   text-align: right;
          // }
        }
      }
    }
  }

}

// 1024px
@media screen and (min-width: 64rem) {
  #main-banner {
    header {
      flex-direction: row;
      align-items: center;
      height: auto;
      div {
        #main-logo {
          width: 70%;
          max-width: 20rem;
          margin: 0.4rem 0.8rem;
        }
        #hamburger-menu {
          display: none;
        }
      }

      #main-nav {
        margin-bottom: 0;
        left: 0;
        ul{
          display: flex;
          // left: 0;
          li {
            a {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  footer {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    // padding: 1.5rem 0 1.5rem 0;
    .footer-wrapper {
      // display: flex;
      // flex-direction: column;
      justify-content: space-between;
      padding: 0;
    }
    #social {
      // flex-direction: row;
      justify-content: flex-start;
      margin-top: 1rem;
      margin-left: 1rem;
      // li {
      //   // width: 2rem;
      //   // padding: 0.5rem;
      //   // margin: 0 1.5rem;
      // }
    }
    #footer-nav {
      display: block;
    }

    #footer-logo {
      // display: inline-block;
      width: 90%;
      max-width: 480px;
      margin: 0 2rem 0 auto;
      // padding-right: 1.5rem;
    }

    #copyright {
      display: block;
      margin: 1.5rem 2.5rem 1rem 0;
    }
  }

  .text-large {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  .section-header {
    // background-color: #f3f3f3;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    padding: 1.5rem;

    .section-icon {
      width: 9rem;
    }

    .section-title {
      // @extend .title;
      font-size: 4.2rem;
      margin-left: 2.5rem;
    }
  }

  .section-info {
    margin: 2.5rem 12.5vw;

    .section-desc {
      font-size: 1.2rem;
      // text-align: center;
      line-height: 1.7rem;
    }
  }

  .category-header {
    .category-info {
      .category-title {
        font-size: 4rem;
      }
      .category-short {
        font-size: 2rem;
        // font-weight: 500;
        // color: #ffffff;
        padding: 2rem 0;
        // margin: 0 1.5rem;
        line-height: 2.8rem;
      }
    }
  }

  .category-desc {
    @extend .text-large;
    margin: 3rem 12.5vw;
  }

  .item {
    // clear: both;
    padding: 0 3.6vw;
    .item-title {
      // @extend .title;
      // width: 45%;
      // float: right;
      font-size: 1.8rem;
      margin: 0 2rem 1rem 0;
      // padding: 3rem;
      // margin-bottom: 1rem;
    }

    .item-photo {
      // clear: right;
      // width: 40%;
      // float: left;
      // border-style: solid;
      // border-width: 2px;
      // border-radius: 4px;
      // box-shadow: 0 1rem 1rem -1rem #000000;
      margin: -2rem 0 2rem 3rem;
    }

    .item-desc {
      // clear: both;
      // width: 45%;
      // float: right;
      // text-align: left;
      @extend .text-large;
      margin: 0 3rem 0 0;
    }

    address {
      // width: 45%;
      // float: right;
      // position: relative;
      // text-align: left;
      margin: 1.5rem 3rem 2rem 0;
      .item-address,
      .item-phone,
      .item-hours {
        // @extend .text;
        @extend .text-large;
        margin: 0 0 0.2rem 0;
      }

      .item-website {
        // @extend .title;
        // position: absolute;
        // bottom: 0;
        // right: 0;
        // display: inline-block;
        font-size: 1.2rem;
        // text-decoration: none;
        margin-bottom: 0.2rem;
        // padding-bottom: 1px;
        // border-bottom-width: 1px;
        // border-bottom-style: solid;
      }
    }

    // .faded-line {
    //   // clear: both;
    //   // display: block;
    //   // margin: 3rem auto 2rem auto;
    //   // border: none;
    //   // width: 100%;
    //   // padding-top: 2rem;
    //   // height: 1px;
    // }
  }

  .item:nth-child(even) {
    .item-title {
      // float: left;
      // font-size: 1.3rem;
      // margin: 0 2rem 1rem 0;
      margin: 0 0 1rem 2rem;
    }
    .item-photo {
      // float: right;
      margin: -2rem 3rem 2rem 0;
    }
    .item-desc {
      // float: left;
      margin: 0 0 0 3rem;
    }
    address {
      // float: left;
      margin: 1.5rem 0 2rem 3rem;
    }
  }

  .item.nocontent,
  .item.nocontent ~ .item.nocontent,
  .item:nth-child(even).nocontent,
  .item.nocontent ~ .item:nth-child(even).nocontent {
    // float: none;
    width: 25%;
    padding: 0;
    // display: inline-block;
    // margin: 0;
    text-align: center;
    &:before {
      position: absolute;
      top: auto;
      left: 50%;
      @include translate(-50%, 0);
      // padding-bottom: 2rem;
    }
    .item-photo {
      // display: inline-block;
      // width: 70%;
      // margin: 3rem auto 0 auto;
    }
    .item-title {
      display: inline-block;
      width: 100%;
      float: none;
      margin: 1rem 0 0 0;
      font-size: 1.1rem;
    }
  }

  .story {
    // padding: 0.8rem;
    // transform: skew(-5deg, -0.5deg);

    .story-wrapper {
      // height: auto;
      // grid-template-columns: 15% 85%;
      // transform: skew(-3deg, 0.2deg);
      // align-items: center;
      // justify-items: center;

      .story-photo {
        img {
          // width: 80%;
          max-width: 8rem;
          // transform: skew(8deg, 0.3deg);
        }
      }

      .story-text {
        // text-align: center;
        width: 95%;
        // .story-check {
        //   display: none;
        // }

        .story-testimony {
          // opacity: 1;
          // transition: opacity 0.8s ease-in-out;
          .story-desc {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            &:before,
            &:after {
              // content: " \" ";
              // font-family: $fontTitle;
              font-size: 1.6rem;
            }
          }
          .story-name {
            // font-family: $fontTitle;
            font-size: 1.4rem;
            // text-transform: uppercase;
            // text-align: right;
          }
        }
      }
    }
  }

}


@media screen and (min-width: 90rem) {
  #container {
    width: 1440px;
  }

  #main-banner {
    header {
      #main-nav {
        ul {
          li {
            margin: 0 1.5rem;
          }
        }
      }
    }
  }
}
