<header>
  <!-- <img id="main-logo" src="images/ledc_logo-symbol.png" alt="Main Logo"> -->
  <div>
    <a href="index.php"><img id="main-logo" src="images/ledc_logo-horizontal-black.svg" alt="Main Logo"></a>
    <i id="hamburger-menu" class="ion-android-menu"></i>
  </div>
  <nav id="main-nav">
    <ul>
      <li><a href="index.php">Home</a></li>
      <li><a href="life.php">Life</a></li>
      <li><a href="education.php">Education</a></li>
      <li><a href="work.php">Work</a></li>
      <li><a href="economics.php">Economics</a></li>
      <li><a href="social.php">Social</a></li>
    </ul>
  </nav>
</header>
