<header>
  <img id="main-logo" src="images/ledc_logo-symbol.png" alt="Main Logo">
  <!-- <img id="main-logo" src="images/ledc_logo-horizontal-black.svg" alt="Main Logo"> -->
  <i id="hamburger-menu" class="ion-android-menu"></i>
  <nav id="main-nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li> <a href="life.php">Life</a></li>
      <li><a href="education.php">Education</a></li>
      <li><a href="work">Work</a></li>
      <li><a href="economics">Economics</a></li>
      <li><a href="social">Social</a></li>
    </ul>
  </nav>
</header>
