<header>
  <div>
    <a href="index.php"><img id="main-logo" class="media-change" src="images/logo_black_small.svg" alt="Main Logo"></a>
    <img id="logo-text" src="images/logo_text.svg" alt="Logo Text">
    <i id="hamburger-menu" class="ion-android-menu"></i>
  </div>
  <nav id="main-nav">
    <ul>
      <li><a href="index.php">Home</a></li>
      <li><a href="life.php">Life</a></li>
      <li><a href="education.php">Education</a></li>
      <li><a href="work.php">Work</a></li>
      <li><a href="economics.php">Economics</a></li>
      <li><a href="social.php">Social</a></li>
    </ul>
  </nav>
</header>
