<section id="partners">
  <h2>Our Partners</h2>
  <ul>
    <li><a href="https://www.londontourism.ca" title="Tourism London"><img src="images/logo_tourism_london.png" alt="Tourism London"></a></li>
    <li><a href="https://www.ontariossouthwest.com" title="Ontario's Southwest"><img class="wide" src="images/logo_southwest.png" alt="Ontario's Southwest"></a></li>
    <li><a href="http://www.downtownlondon.ca" title="Downtown London"><img class="wide" src="images/logo_downtown_london.png" alt="Downtown London"></a></li>
    <li><a href="https://www.london.ca" title="City of London"><img src="images/logo_london_city.png" alt="City of London"></a></li>
  </ul>
</section>
